body {
  position: relative;
  background-color: #cecece;
  padding: 10vh 0 8vh;
}

.logo {
  position: absolute;
  top: 30px;
  left: 25px;
  font-size: 30px;
}

main {
  position: relative;
  font-family: 'Outfit', sans-serif;
  height: 80vh;
  width: 65%;
  min-width: 800px;
  max-width: 1000px;
  background-color: #ddd;
  margin: 0 auto;
  display: flex;
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
  border-radius: 80px 0 0 0;
}

main::after {
  content: '';
  width: 75px;
  height: 38px;
  position: absolute;
  top: 50px;
  right: -20px;
  background: url(../images/bg01.png) no-repeat;
  background-size: 100%;
  transform: rotate(270deg);
}

.loading {
  display: none;
  width: 100%;
  height: 100%;
  margin: 10px;
  border: 4px solid;
  border-radius: 10px;
  font-size: 40px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.loading.show {
  display: block;
}

/* 스크롤바 설정*/
.type2::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.type2::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #0f1012;
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.type2::-webkit-scrollbar-track {
  background-color: rgba(160, 160, 160, 0.33);
}

.search {
  margin: 40px 0 35px 0;
}

.search input {
  width: 180px;
  background-color: #d0d0d0;
  border: none;
  padding: 10px 38px 10px 15px;
  border-radius: 50px;
  box-sizing: border-box;
}

.search-inner {
  position: relative;
  display: inline-block;
}

.search .search-btn {
  position: absolute;
  top: 9px;
  right: 15px;
}

.search select {
  width: 52px;
  padding: .8em;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0px;
  margin-left: 15px;
}

.text-content {
  position: relative;
  width: 530px;
  display: flex;
}

.text-content::before {
  content: '';
  width: 26px;
  height: 66px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -28px;
  background: url(../images/bg03.png) no-repeat;
  background-size: 100%;
}

.text-content ul {
  padding: 126px 45px 30px 90px;
  height: 100%;
  box-sizing: border-box;
}

.text-content li:last-child {
  margin-top: 50px;
}

.text-content h2 {
  font-size: 22px;
  font-weight: 800;
}

.text-content h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 17px 0;
}

.text-content span {
  display: block;
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 15px;
}

.text-content p {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.8px;
}

.movies-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.movies-content::before {
  content: '';
  width: 100px;
  height: 50px;
  position: absolute;
  left: -60px;
  background: url(../images/bg01.png) no-repeat;
  background-size: 100%;
  bottom: 0;
}

.movies-content::after {
  content: '';
  width: 16px;
  height: 56px;
  position: absolute;
  bottom: 22px;
  right: 12px;
  /* margin-top: -28px; */
  background: url(../images/bg02.png) no-repeat;
  background-size: 100%;
}

.movies-list {
  height: 100%;
  gap: 10px;
  margin: 0 42px 42px 0;
  overflow: auto;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 85px 42px;
  padding: 20px;
}

.movies span {
  margin: 70px auto 0;
  text-align: center;
}

.movies span img {
  width: 60%;
}

.movie {
  position: relative;
  border-radius: 100px;
  width: 160px;
  height: 160px;
}

.movie h1 {
  position: absolute;
  top: 155px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  font-weight: 900;
}

.movie img {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

.more {
  display: none;
  font-size: 14px;
  padding: 15px 30px;
  background-color: #0f1012;
  border-radius: 50px;
  margin: 10px auto;
  width: 50px;
  color: #fff;
  text-align: center;
}

.more.show {
  display: block;
}